body{
    margin: auto;
    background-color: #F2F2F2;
    padding-bottom: 10vh;
}

header{
    background-color: #4BA598;
    height: 140px;
}

.cityName{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding-top: 50px;
}

.headerSettings{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding-top: 50px;
}
.headerMap{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding-top: 50px;    
}


.headerIcon{
    height: 4vw;
    position: absolute;
    right: 25%;
    top: 70px;
}

/* Landing */
.pollenContainer{
    border: #4BA598 solid 2px;
    background-color: white;
    margin: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PollenImage{
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

.pollenLanding{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9vw;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.PollenAmountContainer{
    display: flex;
    justify-content: center;
}

.PollenAmount{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8vw;
    margin: 0;
}

.PollenUnit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    margin: 0;
    margin-top: 2.5vw;
    letter-spacing: -0.7px;
}

.PollenIndicator{
    background-color: red;
    height: 2vh;
    width: 25vw;
    margin: auto;
    margin-top: 2vw;
    border-radius: 10px;
}

/* Pollen View */
.pollenViewContainer {
    border: #4BA598 solid 2px;
    background-color: white;
    margin: 40px;
    border-radius: 20px;
    padding-bottom: 5vh;
}

.topContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5vh;
}

.viewImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pollenViewImage{
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

.SelectedPollenType{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9vw;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.pollenViewAmount{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8vw;
    margin: 0;
}

.pollenViewAmountUnit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    margin: 0;
    margin-top: 2.5vw;
    letter-spacing: -0.7px;
}

.pollenViewAmountContainer{
    display: flex;
    justify-content: center;
}

.pollenViewIndicator{
    background-color: red;
    height: 2vh;
    width: 25vw;
    margin: auto;
    margin-top: 2vw;
    border-radius: 10px;
}


.hourlyContainer{
display: grid;
grid-template-columns: 1fr 1fr;
margin: 0;
}

.hourContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hourElement{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 6vw;
    font-weight: 500;
    margin: 0;
}

.amountElement{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EC9AAA;
    font-size: 5vw;
    font-weight: 500;
    border-radius: 20px;
    padding: 1vw 10px;
    margin: 4vw 0;
    display: flex;
    justify-content: left;
    align-items: left;
}

.amountContainer{
    display: flex;
    align-items: center;
    justify-content: left;
    
}




/* Settings */
.settingsSection{
    border: #4BA598 2px solid;
    border-radius: 20px;
    background-color: white;
    margin: 20px;
}

.myAllergies{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 7vw;
    text-align: center;
    margin: 10px;
}

.Pollen{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7vw;
    font-weight: 400;
    margin: 0;
    margin-left: 15px;
}

.toggleContainer{
display: grid;
grid-template-columns: 1fr 1fr;
margin: 35px 0;

}

.right{
    background-color: #F2F2F2;
    border-radius: 1000px;
    height: 35px;
    width: 35px;
    margin-left: 34px;

}

.left{
    background-color: #F2F2F2;
    border-radius: 1000px;
    height: 35px;
    width: 35px;
}

.on{
    border: black 2px solid;
    width: 70px;
    height: 35px;
    border-radius: 20px;
    background-color: #4BA598;
    margin-left: 90px; 
}

.off{
    border: black 2px solid;
    width: 70px;
    height: 35px;
    border-radius: 20px;
    background-color: #EC9AAA;
    margin-left: 90px;
}

footer{
    background-color: #4BA598;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100vw;
}

#imgSection{
    width: 75vw;
    display: flex;
    justify-content: space-between;    
    margin: auto;
    margin-top: 14px;
}

#map{
    width: 100%;
    height: 75vh;
}